.wraper {
    width: 100%;
    max-width: 1200px;
}

.text {
    color: red;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 25px;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    55% { color: green; }
    70% { color: blue; }
    85% { color: indigo; }
    100% { color: violet; }
}