.wrapper {
    display: flex;
    width: 100%;
}

// Menu bên trái
.left-bar {
    background-color: rgb(150, 244, 244);
    border-radius: 10px;
    width: 20%;
    height: 50vh;
    position: fixed;
}

.text {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 10px 20px;
}

select {
    margin-left: 20px;
    width: 100px;
    height: 24px;
    border-radius: 4px;
    margin-bottom: 20px;
}

select:hover {
    cursor: pointer;
}

.btn-add {
    padding: 5px 20px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(0, 255, 170);
    border-color: transparent;
    box-shadow: none;
}

.btn-add:hover {
    box-shadow: 1px 2px 3px;
}

.btn-search {
    margin: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-search:focus {
    outline: none;
    box-shadow: 1px 2px 3px;
}

// Menu bên phải
.right-bar {
    margin-left: 40%;
    width: 90%;
}

.title {
    color: black;
}

.title:hover {
    color: black;
    box-shadow: 1px 1px ;
}

.readMore{
    color: #585858;
    font-weight: 600;
}

.readMore:hover {
    color: black;
}

.paging {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.paging a {
    padding: 5px 10px;
    background-color: rgb(107, 201, 238);
    border-radius: 4px;
    box-shadow: 2px 4px;
}

.paging a:hover {
    color: white;
}

.active {
    background-color: rgb(150, 244, 244);
    color: white;
}

.btn-exit {
    padding: 5px 30px;
    margin: 10px;
    border-radius: 4px;
    background-color: rgb(177, 177, 177);
    border-color: transparent;
    position: relative;
    left: 50%;
}

.btn-exit:hover {
    box-shadow: 1px 4px 4px;
}